{% extends "base.html" %}
{% block content %}
<section class="container">
    <div id="mainFooter" class="row align-items-center">
        <div class="col-sm-4 text-center">
            <h3 class="display-5 text-center">Contact</h3>
        </div>
        <div class="col text-center">
            <p class="text-center">I'm currently open to opportunities! Get in touch, or feel free to <a href="{{ url_for('static', filename='pdf/Blake_Condrey_Resume_2021_v2.pdf') }}"
                    class="" style="color: #64ffda">take a resume.</a></p>
        </div>
    </div>
    <div class="container-fluid">
        <p class="text-center">E-mail form functionality under development, please refer to <a href="mailto:{{ contacts.email }}" style="color: #64ffda">e-mail link!</a></p>
        {% include 'email.html' %}
    </div>
</section>
{% endblock %}