@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#0a192f;
    overflow: unset;
    color: #e6f1ff;
}

.btn {
    border-radius: 10px;
}

.btn:hover {
    background-color: #8892b0;
    border-radius: 10px;
}

.navbar-brand {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.navbar {
    background: transparent;
}

.navbar-toggler {
    color:white;
}

a.nav-link {
    color:white !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    /* text-decoration: none !important; */
}

a.nav-link:hover {
    color: #64ffda !important;
}

.code-icon:hover {
    color: #64ffda;
}


.landing {
    width: 100%;
    height: 85vh;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Raleway', sans-serif;
}


.lime-text {
    color: #64ffdc;
}

.from-nav {
    margin-bottom: 15%;
}

.social-media-icons {
    color:whitesmoke;
}

#projectCard {
    background-color: #233554;
}

#projectDesc {
    color: #8892b0;
}

#mainFooter {
    width: 100%;
    height: 25vh;
}
.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 15px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form form{
    padding: 10%;
}
.contact-form form .row{
    margin-bottom: -2%;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #64ffda;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/* Message Flash */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
}

#fixedColor {
    color: #0a192f;
}


@media only screen and (max-width: 450px) {
    .landing {
        width: 100%;
        height: 85vh;
    }
}
