{% extends "base.html" %}
{% block content %}
<section class="container landing">
    <div class="row align-items-center landing">
        <div class="col-lg text-center my-5 py-2">
            <h2 class="display-5">Projects</h2>
        </div>
        <div class="col-lg">
            
            <div id="projectCard" class="card mb-4">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <img src="{{ url_for('static', filename = 'imgs/newsaggdemo.png') }}" alt="News Aggregator Demo Snapshot" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Python-Flask News Aggregator</h5>
                    <p id="projectDesc" class="card-text">Flask App that utilizes newsapi-python to curate a selective news delivery site.
                    </p>
                    <div class="col text-center">
                        <a href="{{ contact.newsagg }}" class="btn btn-light">Find it here.</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="projectCard" class="card mb-4">
                <div class="card-body">
                    <img src="{{ url_for('static', filename = 'imgs/demopic.png') }}" alt="Sorting Visualization Tool Snapshot" class="card-img-top">
                    <h5 class="card-title text-center">Sorting Visualization Tool</h5>
                    <p id="projectDesc" class="card-text">Algorithmic JavaScript Web App that sorts a random array. Tools: JS, Bootstrap
                    </p>
                    <div class="col text-center">
                        <a href="{{ contact.algo }}" class="btn btn-light">Find it here.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="projectCard" class="card mb-4">
                <div class="card-body">
                    <img src="{{ url_for('static', filename = 'imgs/portdemo.png') }}" alt="Portfolio Website Snapshot" class="card-img-top">
                    <h5 class="card-title text-center">Python-Flask Portfolio (This Site!)</h5>
                    <p id="projectDesc" class="card-text">Flask-App with FlaskSQL_Alchemy and Bootstrap.
                    </p>
                    <div class="col text-center">
                        <a href="{{ contact.gh_portfolio }}" class="btn btn-light">Source code on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
